
.product-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 50%;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.product-list:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

