@use "@/partials/_reset";
@use "@/pages/Auth";

* {
  box-sizing: border-box;
}

:root {
  --col-accent: hsl(21, 90%, 48%);
  --col-primary-3: hsl(217, 19%, 27%);
  --col-primary-2: hsl(220, 9%, 46%);
  --col-primary-1: hsl(225, 32%, 93%);
  --col-secondary-2: hsl(240, 6%, 90%);
  --col-secondary-1: hsl(240, 10%, 95%);
  --col-light: hsl(0, 0%, 100%);
  --col-dark: hsl(0, 0%, 0%);

  --border-radius: 5px;
  --box-shadow:
    0 0 0 0 hsl(0, 0%, 0%), 0 0 0 0 hsla(0, 0%, 0%, 0),
    0 1px 2px 0 var(--col-secondary-2);
}

body {
  margin: 0;
  padding: 16px;
  line-height: 1.4;
  font-family: "Geist", sans-serif;
  background-color: var(--col-light);
}

img {
  display: block;
}

input,
button {
  font: inherit;
  padding: 7px 10px;
  border-radius: var(--border-radius);
}

input {
  border: 1px solid var(--col-secondary-2);
.product-container {
  display: flex;
  gap: 2rem;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.product-image {
  flex: 1;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  border-radius: 10px;
  font-size: 1.2rem;
  color: #888;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  display: inline-block;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.product-subtitle {
  color: #666;
  margin-bottom: 0.5rem;
}

.product-rating {
  color: #f4c150;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.product-rating span {
  color: #555;
  font-size: 0.9rem;
  margin-left: 0.3rem;
}

.product-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.option-group {
  margin-bottom: 1.5rem;
}

.option-label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.color-options,
.size-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.color-btn,
.size-btn {
  padding: 0.75rem;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.2s;
}

.color-btn:hover,
.size-btn:hover {
  background-color: #eee;
}

.selected {
  background-color: black;
  color: white;
  border-color: black;
}

.add-to-cart-btn {
  padding: 1rem;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: #333;
}
